@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

aside {
  max-width: 500px;
}

section {
  min-width: 500px;
}
