.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.2rem;
    max-width: 70%;
  }

  .item-btns {
    button {
      border: none;
      background-color: transparent;
      font-size: 1.2rem;
      opacity: 0.7;
      cursor: pointer;
      transition: opacity 150ms ease-in-out;

      &:hover {
        opacity: 1;
      }

      &:first-of-type {
        color: #666;
        margin-right: 20px;
      }
      &:last-of-type {
        color: #b91c1c;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .item .item-btns button:first-of-type {
    margin-right: 5px;
  }
}
