$padding: 20px;

.input {
  padding: 10px $padding;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    padding-top: $padding;
  }
  &:last-of-type {
    padding-bottom: $padding;
  }

  label {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  input {
    border-radius: 5px;
    border: 1px solid #333;
    padding: 5px 10px;
    font-size: 1rem;

    &:focus {
      outline-width: thin;
      box-shadow: 0 0 5px rgba(51, 51, 51, 0.6);
    }
  }
}
