$padding: 20px;
$color-error: red;
$border-color-success: green;

.input {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    padding-top: $padding;
  }
  &:last-of-type {
    padding-bottom: $padding;
  }

  label {
    font-size: 1.1rem;
    margin-bottom: 5px;

    span {
      color: red;
      margin-left: 5px;
    }
  }

  input {
    border-radius: 5px;
    border: 1px solid #333;
    padding: 5px 10px;
    font-size: 1rem;

    &.invalid-input {
      border-color: $color-error;
    }
    &:valid {
      border-color: $border-color-success;
    }
    &:focus {
      outline-width: thin;
      box-shadow: 0 0 5px rgba(51, 51, 51, 0.6);
    }
  }

  .input-error {
    margin-left: 5px;
    color: $color-error;
    font-style: italic;
    opacity: 0;
    transition: opacity 200ms ease-in-out;

    &.show-form-error {
      opacity: 1;
    }
  }
}
